{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Generate Masked Image{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post">
    <label for="title">Image ID</label>
    <input name="title" id="title" value="{{ request.form['title'] }}" required>

    <label for="img">Select tif file:</label>     
    <input id="img" name="img" type="file"  onchange="readURL(this)"
      accept="image/bmp, image/jpg, image/jpeg, image/png, image/tif, image/tiff, application/pdf, .tif" multiple/>
    <a id="link" download></a>
    <img id="blah" src="#" alt="your image" />

    <label for="body">Select Cloudmask</label>
    <select name="body" id="body">
      {% for cm in data %}
        <option value={{cm}}>{{ cm }}</option>
      {% endfor %}
    </select>

    <input type="submit" value="Save">

  </form>
  <script src="../../static/download.js"></script>
{% endblock %}
